<p-toast position="top-center"></p-toast>
<div [hidden]="!isCanvasVisible" style="width: 100%; text-align:center;">
  <p-dropdown [options]="gardenOptions" [(ngModel)]="selectedGardenId"
              (onChange)="getValue(selectedGardenId)" styleClass="gardener-dropdown-30">
  </p-dropdown>
</div>

<br>

<div class="container" [hidden]="!isCanvasVisible">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label for="heating" class="col-md-4 col-form-label text-md-right">Hőmérséklet:</label>
            <div class="col-md-8">
              <p-dropdown styleClass="gardener-dropdown-80" class="col-md-8" id="heating" [options]="heatOptions"
                          [(ngModel)]="gardenHeating"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="form-group row">
            <label for="watering" class="col-md-4 col-form-label text-md-right">Öntözés:</label>
            <div class="col-md-8">
              <p-dropdown styleClass="gardener-dropdown-80" class="col-md-8" id="watering" [options]="waterOptions"
                          [(ngModel)]="gardenWatering"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary" (click)="onClickGardenControl()">
                Beállítás
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div [hidden]="!isCanvasVisible" style="width: 100%; text-align:center;">
  <canvas style=" display: inline;" #canvas id="canvas" width="500" height="500" (click)="onClickCanvas($event)"
  ></canvas>
</div>

<div class="container" [hidden]="isCanvasVisible">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><h6 class="text-center">Kert létrehozása</h6></div>
        <div class="card-body">
          <div class="row d-flex justify-content-center text-center">
            <span class="text-center">Jelenleg még nem rendelkezel kerttel, de a lenti gombra kattintva létrehozhatsz egyet.</span>
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="onClickCreateGarden()">
              Létrehozás
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <p-dialog class="dialogClass"
            id="fieldDialog"
            #fieldDialog
            [(visible)]="display"
            [header]="'Szegmens módosítása'"
            [showHeader]="true"
            [closable]="true"
            [modal]="true"
            [resizable]="true"
            [appendTo]="'body'"
            [baseZIndex]="10000"
            [draggable]="false">
    <div [hidden]="!isOwnCell" class="row">
      <div class="col-md-4">
        <h5>Cella index:</h5>
      </div>
      <div class="col-md-2">
        <h5>{{this.index}}</h5>
      </div>
    </div>

    <div [hidden]="!isOwnCell" class="row">
      <div class="col-md-4">
        <h5>Cella hőmérséklet:</h5>
      </div>
      <div class="col-md-2">
        <h5>{{this.temperature}}</h5>
      </div>
    </div>

    <div [hidden]="!isOwnCell" class="row">
      <div class="col-md-4">
        <h5>Cella páratartalom:</h5>
      </div>
      <div class="col-md-2">
        <h5>{{this.humidity}}</h5>
      </div>
    </div>

    <div [hidden]="!isOwnCell" class="row">
      <div class="col-md-4">
        <h5>Cella növény:</h5>
      </div>
      <div class="col-md-2">
        <p-dropdown [options]="plantOptions" [(ngModel)]="this.content">
        </p-dropdown>
      </div>
    </div>

    <div [hidden]="!this.request" class="row">
      <div class="col-md-4">
        <h5>Korábbi kérésed:</h5>
      </div>
      <div class="col-md-3">
        <h5>{{getRequetText(this.request)}}</h5>
      </div>
    </div>

    <div class="row d-flex justify-content-center text-center">
      <span [hidden]="!(!this.request && !isOwnCell)" class="text-center">Az adott cellára nem kaptál kérést változtatással kapcsolatban.</span>
    </div>

    <p-footer>
      <button [hidden]="!this.request && !isOwnCell" type="button" pButton icon="pi pi-check"
              [label]="isOwnCell ? 'Mentés' : 'Ültetés'"
              (click)="onClickSave()"></button>
    </p-footer>
  </p-dialog>
</div>




