<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/garden">Smart Garden</a>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav" [hidden]="user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Bejelentkezés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration"> Regisztráció</a>
      </li>
    </ul>

    <ul class="navbar-nav" [hidden]="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/garden">A kertjeim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Kert létrehozása</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gardener">Kertészek kezelése</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logs">Kertjeim eseményei</a>
      </li>
    </ul>
    <button [hidden]="!user" class="btn my-2 my-lg-0 ml-auto btn btn-link" (click)="logout()">Kijelentkezés</button>

  </div>
</nav>
