<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Smart Garden</a>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav" *ngIf="!user else authBlock">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Bejelentkezés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration"> Regisztráció</a>
      </li>
    </ul>

    <ng-template #authBlock>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/garden">A kertem</a>
        </li>
      </ul>
      <button class="btn my-2 my-lg-0 ml-auto" (click)="logout()">Kijelentkezés</button>
    </ng-template>

  </div>
</nav>
